<app-page-header>A propos</app-page-header>

<div class="section-container">

  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="50" fxFlex.lt-sm="100">

      <h1 class="centered">Posit'IF</h1>

      <p>
        Posit'IF est une application créée dans le cadre du cours de Dévellopement d'Application pour les Systèmes
        d'Information (DASI) à l'INSA de Lyon. Elle a été dévellopé par <a href="https://github.com/Balthov60">Balthazar
        Frolin</a> et <a href="//corentin-thomasset.fr">Corentin Thomasset</a>.
      </p>
    </div>
  </div>

</div>
