<app-page-header>Clients</app-page-header>

<div class="section-container">

  <mat-tab-group animationDuration="1000ms" style="overflow: visible !important;">
    <mat-tab label="Liste" style="overflow: visible !important;">
      <ng-template matTabContent style="overflow: visible !important;">


        <div class="tab-wrapper">

          <div fxLayout="row">
            <div fxFlex.gt-sm="25" fxFlex.lt-sm="100">
              <mat-form-field>
                <input matInput type="text" [(ngModel)]="searchQuery" placeholder="Rechercher">
                <span matSuffix><mat-icon>search</mat-icon></span>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="center center" *ngIf="!clients">
            <mat-spinner></mat-spinner>
          </div>


          <div *ngIf="clients && clients.length === 0">
            <app-alert type="warning">Aucun client trouvées.</app-alert>
          </div>


          <table mat-table [dataSource]="clients | filterBy:searchQuery:displayedColumns" class="mat-elevation-z4" *ngIf="clients && clients.length > 0">

            <ng-container matColumnDef="firstname">
              <th mat-header-cell *matHeaderCellDef>Prénom</th>
              <td mat-cell *matCellDef="let element"> {{element.firstname | capitalize}} </td>
            </ng-container>

            <ng-container matColumnDef="lastname">
              <th mat-header-cell *matHeaderCellDef>Nom</th>
              <td mat-cell *matCellDef="let element"> {{element.lastname | capitalize}} </td>
            </ng-container>

            <ng-container matColumnDef="gender">
              <th mat-header-cell *matHeaderCellDef>Genre</th>
              <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>Email</th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="birthDate">
              <th mat-header-cell *matHeaderCellDef>Date de naissance</th>
              <td mat-cell *matCellDef="let element"> {{element.birthDate | date:'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef>N° de tel.</th>
              <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let element"><a mat-icon-button color="primary" [routerLink]="'/users/' + element.id" matTooltip="Voir le profile"><mat-icon>arrow_forward</mat-icon></a> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
          </table>
        </div>


      </ng-template>
    </mat-tab>
    <mat-tab label="Carte">
      <ng-template matTabContent>
        <div class="tab-wrapper">

          <div fxLayout="row">
            <div fxFlex.gt-sm="25" fxFlex.lt-sm="100">
              <mat-form-field>
                <input matInput type="text" [(ngModel)]="searchQuery" placeholder="Rechercher">
                <span matSuffix><mat-icon>search</mat-icon></span>
              </mat-form-field>
            </div>
          </div>

          <agm-map [latitude]="45.7659539" [longitude]="4.8555385" [zoom]="14" class="google-map" [fitBounds]="true" >
            <agm-marker *ngFor="let client of clients | filterBy:searchQuery:displayedColumns" [latitude]="client.address.lat" [longitude]="client.address.lon" [agmFitBounds]="true">
              <agm-info-window [isOpen]="true">
                {{client.firstname | capitalize}} {{client.lastname | capitalize}} <br>
                <a [routerLink]="'/users/' + client.id">Voir son profil</a>
              </agm-info-window>
            </agm-marker>
          </agm-map>

        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>


</div>
