<div fxLayout="row" fxLayoutAlign="center center">

  <div fxFlex="75">

    <mat-card class="not-found-container">
      <div fxFlex="50" class="left-column">
        <div class="big-number">
          404
        </div>
      </div>

      <div fxFlex="50" class="right-column">
        <h1>Oups !</h1>
        <div class="subtitle">
          La page n'est pas disponible
        </div>

        <br>
        <br>
        <a mat-raised-button color="primary" routerLink="/">Accueil</a>

      </div>

    </mat-card>
  </div>
</div>
