<div fxLayoutAlign="center">
  <mat-spinner *ngIf="!medium"></mat-spinner>
</div>

<div *ngIf="medium">
  <h1 mat-dialog-title>
    {{medium.name}}
  </h1>
  <div mat-dialog-content>


    <div fxLayout="row">
      <div fxFlex="30">

        <img class="medium-image" [src]="medium.picturePath" alt="">
      </div>

      <div fxFlex="70" class="medium-details">
        <div><strong>Type : </strong> {{medium.talent | talent | capitalize}}</div>
        <div *ngIf="medium.speciality"><strong>Specialité : </strong> {{medium.speciality | capitalize}}</div>
        <div *ngIf="medium.training"><strong>Ecole : </strong> {{medium.training}}</div>
        <div *ngIf="medium.schoolYear"><strong>Promotion : </strong> {{medium.schoolYear}}</div>
        <div>{{medium.description}}</div>
      </div>
    </div>


  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="consultationCallback(medium)">Demander une consultation</button>
  </div>
</div>
