<app-page-header *ngIf="isCurrent">Mon profil</app-page-header>
<app-page-header *ngIf="!isCurrent">Profil utilisateur</app-page-header>

<div class="section-container profile-container">
  <div fxLayoutAlign="center center">

    <app-alert *ngIf="error">{{error}}</app-alert>

    <mat-spinner *ngIf="!user && !error"></mat-spinner>

    <div fxFlex="50"*ngIf="user" >
      <mat-card >
        <mat-card-header>
          <h2 *ngIf="isCurrent">
            Mes informations
          </h2>
          <h2 *ngIf="!isCurrent">
            Informations de {{user.lastname | capitalize}} {{user.firstname | capitalize}}
          </h2>
        </mat-card-header>
        <mat-divider></mat-divider>

        <mat-card-content>
          <mat-list>
            <mat-list-item><strong>Nom: </strong> {{user.lastname | capitalize}}</mat-list-item>
            <mat-list-item><strong>Prénom: </strong>{{user.firstname | capitalize}}</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
