/* You can add global styles to this file, and also import other style files */

@import "variables";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: @background;
}


.section-container {
  padding: 25px;
}

.centered{
  text-align: center;
}



.mat-form-field-appearance-legacy {

  .mat-form-field-prefix,
  .mat-form-field-suffix {
    align-self: flex-end;
  }
}


.tab-wrapper {
  padding: 25px;
}


.badge{
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  padding: 9px 15px;
  border-radius: 50px;
  align-items: center;
  cursor: default;
  min-height: 32px;
  height: 1px;



  &.badge-grey{
    background-color: #e0e0e0;
    color: rgba(0,0,0,.87);
  }

  &.badge-primary{
    background-color: @primary;
    color: #fff;
  }

  &.badge-success{
    background-color: @success;
    color: #fff;
  }

}
.mat-flat-button.mat-success{
  color: #ffffff;
  background-color: @success;
}

table.table-formating{

  &.w50{
    tr{
      td{
        width: 50%;
      }
    }
  }

  width: 100%;
  tr{
    td{
      &:first-child{
        padding-right: 10px;
        text-align: right;
      }
    }

  }
}
