<app-page-header>Statistiques</app-page-header>

<div class="section-container">



        <div fxLayout="row" fxLayoutAlign="stretch" fxLayoutGap="25px">
          <div fxFlex="50">

            <mat-card>
              <mat-card-header>
                <mat-card-title>Age des clients</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div fxLayoutAlign="center" *ngIf="!clientsAge">
                  <mat-spinner></mat-spinner>
                </div>
                <app-bar-chart *ngIf="clientsAge" [data]="clientsAge" xLabel="Age" yLabel="Quantité"></app-bar-chart>
              </mat-card-content>
            </mat-card>

          </div>


          <div fxFlex="50">

            <mat-card>
              <mat-card-header>
                <mat-card-title>Nombre de clients par jours</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div fxLayoutAlign="center" *ngIf="!clientCountPerDay">
                  <mat-spinner></mat-spinner>
                </div>
                <app-line-chart *ngIf="clientCountPerDay" [data]="clientCountPerDay" xLabel="Jours"
                                yLabel="Nombre de client"></app-line-chart>
              </mat-card-content>
            </mat-card>

          </div>

        </div>
        <br>
        <div fxLayout="row" fxLayoutAlign="stretch" fxLayoutGap="25px">

          <div fxFlex="50">

            <mat-card>
              <mat-card-header>
                <mat-card-title>Nombre de clients par jours</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div fxLayoutAlign="center" *ngIf="!consultationsCountByStatus">
                  <mat-spinner></mat-spinner>
                </div>
                <app-pie-chart *ngIf="consultationsCountByStatus" [data]="consultationsCountByStatus"></app-pie-chart>
              </mat-card-content>
            </mat-card>

          </div>

          <div fxFlex="50">

            <mat-card>
              <mat-card-header>
                <mat-card-title>Nombre de clients par employee</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div fxLayoutAlign="center" *ngIf="!clientCountPerEmployee">
                  <mat-spinner></mat-spinner>
                </div>
                <app-bar-chart *ngIf="clientCountPerEmployee" [data]="clientCountPerEmployee" xLabel="Age" yLabel="Quantité"></app-bar-chart>
              </mat-card-content>
            </mat-card>

          </div>

        </div>

      </div>
