<app-page-header>Inscription</app-page-header>


<div class="section-container">

  <div fxLayoutAlign="center center">
    <div fxFlex.lg="33" fxFlex.md="50" fxFlex.sm="75" fxFlex.xs="100" >

      <mat-card>

        <mat-card-header>
          <mat-card-title>Inscription</mat-card-title>
        </mat-card-header>

        <div *ngIf="success === true">
          <app-alert type="success" >
            Votre formulaire d'inscription a correctement été pris en compte. Un email vous a été envoyé.
            <br>
            <br>
            <a mat-stroked-button routerLink="/login">Se connecter</a>
          </app-alert>
        </div>

        <div *ngIf="success === false">
          <app-alert type="error" >
            Une erreur s'est produite. Un email vous a été envoyé.
          </app-alert>
        </div>

        <mat-card-content *ngIf="success === undefined">
          <mat-vertical-stepper linear #stepper>

            <mat-step [stepControl]="infoFormGroup">
              <form [formGroup]="infoFormGroup">
                <ng-template matStepLabel>Informations générales</ng-template>

                <mat-form-field>
                  <input matInput placeholder="Nom" formControlName="lastname" required>
                  <mat-error *ngIf="infoFormGroup.invalid && infoFormGroup.controls.lastname.errors && infoFormGroup.controls.lastname.errors.required">Veuillez saisir votre nom</mat-error>
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Prénom" formControlName="firstname" required>
                  <mat-error *ngIf="infoFormGroup.invalid && infoFormGroup.controls.firstname.errors && infoFormGroup.controls.firstname.errors.required">Veuillez saisir votre prénom</mat-error>
                </mat-form-field>

                <mat-form-field>
                  <input required matInput [matDatepicker]="dobPicker" placeholder="Date de naissance" formControlName="birthDate">
                  <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
                  <mat-datepicker #dobPicker></mat-datepicker>
                  <mat-error *ngIf="infoFormGroup.invalid && infoFormGroup.controls.birthDate.errors && infoFormGroup.controls.birthDate.errors.required">Veuillez saisir votre date de naissance</mat-error>
                </mat-form-field>

                <mat-form-field>
                  <mat-select required formControlName="gender" placeholder="Genre">
                    <mat-option value="M">Masculin</mat-option>
                    <mat-option value="F">Feminin</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <input type="phone" matInput placeholder="Numéro de téléphone" formControlName="phone" required>
                  <mat-error *ngIf="infoFormGroup.invalid && infoFormGroup.controls.phone.errors && infoFormGroup.controls.phone.errors.required">Veuillez saisir un numéro de téléphone</mat-error>
                  <mat-error *ngIf="infoFormGroup.invalid && infoFormGroup.controls.phone.errors && infoFormGroup.controls.phone.errors.pattern">Le format de votre numéro de téléphone est incorrect</mat-error>
                </mat-form-field>

                <div>
                  <button mat-raised-button color="primary" matStepperNext>Suivant</button>
                </div>
              </form>
            </mat-step>



            <mat-step [stepControl]="credentialsFormGroup">
              <form [formGroup]="credentialsFormGroup">
                <ng-template matStepLabel>Information de connection</ng-template>
                <mat-form-field>
                  <input type="email" matInput placeholder="Email" formControlName="email" required>
                  <mat-error *ngIf="credentialsFormGroup.invalid && credentialsFormGroup.controls.email.errors && credentialsFormGroup.controls.email.errors.required">Veuillez saisir une adresse email</mat-error>
                  <mat-error *ngIf="credentialsFormGroup.invalid && credentialsFormGroup.controls.email.errors && credentialsFormGroup.controls.email.errors.email">Le format de votre adresse email est incorrect</mat-error>
                </mat-form-field>


                <mat-form-field>
                  <input type="password" matInput placeholder="Mot de passe" formControlName="password" required>
                  <mat-error *ngIf="credentialsFormGroup.invalid && credentialsFormGroup.controls.password.errors && credentialsFormGroup.controls.password.errors.required">Veuillez saisir un mot de passe</mat-error>
                  <mat-error *ngIf="credentialsFormGroup.invalid && credentialsFormGroup.controls.password.errors && credentialsFormGroup.controls.password.errors.minlength">La taille de votre mot de passe doit etre supérieur à 4 charactères.</mat-error>
                </mat-form-field>

                <mat-form-field>
                  <input type="password" matInput placeholder="Confirmation du mot de passe"
                         formControlName="passwordConfirmed" required>
                  <mat-error *ngIf="credentialsFormGroup.invalid && credentialsFormGroup.controls.passwordConfirmed.errors && credentialsFormGroup.controls.passwordConfirmed.errors.required">Veuillez saisir votre mot de passe à nouveau</mat-error>
                  <mat-error *ngIf="credentialsFormGroup.invalid && credentialsFormGroup.controls.passwordConfirmed.errors && credentialsFormGroup.controls.passwordConfirmed.errors.mustMatch">Les mots de passe ne correspondent pas</mat-error>
                </mat-form-field>

                <div>
                  <button mat-raised-button matStepperPrevious>Retour</button>&nbsp;
                  <button mat-raised-button color="primary" matStepperNext>Suivant</button>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="locationFormGroup">
              <form [formGroup]="locationFormGroup">
                <ng-template matStepLabel>Votre adresse</ng-template>

                <div fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="25px">
                  <div fxFlex="30">
                    <mat-form-field>
                      <input matInput placeholder="Numero" formControlName="addressField1" required>
                      <mat-error *ngIf="locationFormGroup.invalid && locationFormGroup.controls.addressField1.errors && locationFormGroup.controls.addressField1.errors.required">Veuillez saisir un numéro de rue</mat-error>
                      <mat-error *ngIf="locationFormGroup.invalid && locationFormGroup.controls.addressField1.errors && locationFormGroup.controls.addressField1.errors.pattern">Le format de votre numéro de rue est incorrect</mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="70">
                    <mat-form-field>
                      <input matInput placeholder="Rue" formControlName="addressField2" required>
                      <mat-error *ngIf="locationFormGroup.invalid && locationFormGroup.controls.addressField2.errors && locationFormGroup.controls.addressField2.errors.required">Veuillez saisir un nom de rue</mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="25px">
                  <div fxFlex="30">
                    <mat-form-field>
                      <input matInput placeholder="Code postal" formControlName="addressField3" required>
                      <mat-error *ngIf="locationFormGroup.invalid && locationFormGroup.controls.addressField3.errors && locationFormGroup.controls.addressField3.errors.required">Veuillez saisir un code postal</mat-error>
                      <mat-error *ngIf="locationFormGroup.invalid && locationFormGroup.controls.addressField3.errors && locationFormGroup.controls.addressField3.errors.pattern">Le format de votre code postal est incorrect</mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="70">
                    <mat-form-field>
                      <input matInput placeholder="Ville" formControlName="addressField4" required>
                      <mat-error *ngIf="locationFormGroup.invalid && locationFormGroup.controls.addressField4.errors && locationFormGroup.controls.addressField4.errors.required">Veuillez saisir un nom de ville</mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div>
                  <button mat-raised-button matStepperPrevious>Retour</button>&nbsp;
                  <button mat-raised-button color="primary" matStepperNext>Suivant</button>
                </div>
              </form>
            </mat-step>


            <mat-step>
              <ng-template matStepLabel>Fin</ng-template>
              <p>Vous avez fini !</p>
              <div>
                <button mat-raised-button color="warn" (click)="stepper.reset()">Annuler</button>&nbsp;
                <button mat-raised-button color="primary" (click)="submit()">Valider</button>
              </div>
            </mat-step>
          </mat-vertical-stepper>
        </mat-card-content>
      </mat-card>


    </div>
  </div>
</div>

